.feedback{
    border-radius:8px ;
    padding: 2vw 0 0 0;
    position: absolute;
    bottom:  6vw;
    background-color: #F8F8F8;
    color: #4D4D4D;
    text-align: center;
    right: 0vw;
    width: 27vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
}
.feedback p{
    border-bottom:1px solid #4D4D4D;
    padding-bottom: 2vw;
}
.input-n-text{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 5px;
    margin-bottom: 2vw;
    padding-left: 2vw;

}
